:root {
    --dark-grey: #2e2e2e;
    --soft-blue: #597492;
    --blue-grey: #ADBCCE;
    --baby-blue: #DDEAF3;
    --cold-white: #FDFDFD;
    --cold-blue: rgba(54, 163, 177, 0.055);
    --blue-aqua: #53b8bb;

    /* --dark-green: #003638;
    --soft-dgreen: #055052;
    --blue-aqua: #53b8bb;
    --soft-beige: #f3f2c9; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

html,
body{
  width:100%;
  overflow-x:hidden;
}


header {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: var(--soft-blue);
    box-shadow: 0px 4px 8px rgba(29, 37, 71, 0.657);
    border-radius: 4px;
}

header .header--logo {
    height: 55px;
}

header h2 {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--cold-white);
}

header .header-contianer--info {
    display: flex;
    align-items: center;
}

.header-container-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 35px;
}

.header-button--login {
    width: 55px;
    height: 55px;
    background: #fabd3b;
    box-shadow: 0px 4px 8px rgba(22, 16, 68, 0.603);
    border: none;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

.header-shopping-cart {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    align-items: center;
}