* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-grey: #2e2e2e;
    --soft-blue: #597492;
    --blue-grey: #ADBCCE;
    --baby-blue: #DDEAF3;
    --cold-white: #FDFDFD;
    --cold-blue: rgba(54, 163, 177, 0.055);
    --blue-aqua: #53b8bb;

    /* --dark-green: #003638;
    --soft-dgreen: #055052;
    --blue-aqua: #53b8bb;
    --soft-beige: #f3f2c9; */
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

html,
body{
  width:100%;
  overflow-x:hidden;
}

header {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: var(--soft-blue);
    box-shadow: 0px 4px 8px rgba(29, 37, 71, 0.657);
    border-radius: 4px;
}

header .header--logo {
    height: 55px;
}

header h2 {
    font-size: 3.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--cold-white);
}

header .header-contianer--info {
    display: flex;
    align-items: center;
}

.header-shopping-cart {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    align-items: center;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--cold-blue);
    text-align: center;
}



.main--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--soft-blue);
    margin-top: 30px;
}

.main-formulario--campos .input-text {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #d8d9dd;
    margin-top: 25px;
    margin-bottom: 25px;
      
}

.main-formulario--campos .input-email {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #d8d9dd;
    margin-bottom: 25px;
      
}

.main-formulario--campos .input-password {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #d8d9dd;
    margin-bottom: 25px;
      
}

.main-formulario--campos .input-text {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 25px;
    outline: none;
    
}

.main-formulario--campos .input-email {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 25px;
    outline: none;
    
}

.main-formulario--campos .input-password {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 25px;
    outline: none;
    
}

.input-button {
    width: 100%;
    height: 28px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fabd3b;
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.36);
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: white;
}

.main-msj {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--soft-blue);
    margin-top: 30px;
    margin-bottom: 30px;
}

main .main-formulario-container-button .main-formulario--button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    width: 180px;
    height: 28px;
    background: #fabd3b;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: white;
    text-decoration: none;
}

.main-login--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--soft-blue);
    margin-top: 30px;
}

.main-formulario--campos .input-login-email {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #d8d9dd;
    margin-top: 25px;
    margin-bottom: 25px;
    
      
}

.main-formulario--campos .input-login-password {
    width: 200px;
    border-radius: 100px;
    border: 1px solid #d8d9dd;
    margin-bottom: 25px;
      
}

.main-formulario--campos .input-login-email {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 25px;
    outline: none;
    
}

.main-formulario--campos .input-login-password {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 25px;
    outline: none;
    
}

.input-login-button {
    width: 55%;
    height: 28px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fabd3b;
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.36);
    border: none;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: white;
}

.main-msj {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.3rem;
    color: var(--soft-blue);
    margin-top: 30px;
    margin-bottom: 30px;
}

main .main-formulario-container-button .main-formulario--button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    width: 180px;
    height: 28px;
    background: #fabd3b;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: white;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 35px;
    background-color: var(--soft-blue);
    box-shadow: 4px 0px 8px rgba(29, 37, 71, 0.657);
    border-radius: 4px;
}